
/*GERAL*/
    *{
        margin: 0;
        padding: 0;
    }

    body{
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        overflow: hidden;
    }

/*NAVBAR*/


/*AREA DO JOGO*/

    #tela-jogo{
        display: block;
        position: absolute;
        margin: 50px 150px;
        background-image: linear-gradient(180deg, lightblue, white);
        border: 3px solid black;
        border-bottom: 30px solid greenyellow;
    }

    #personagem{
        position: absolute;
        left: 50%;
        bottom: 0;
        height: 100px;
        width: 100px;
    }

/*FOOTER*/

